.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(47, 145, 132);
    -fx-background: gray;
    -fx-background-color: #dcdcdc;
}

.label {
    -fx-text-fill: black;
}

#songInfo {
    -fx-padding: 0 10 0 10;
    -fx-border-width: 2;
    -fx-border-color: gray;
    -fx-background-color: #f0f0f0;
}

.tab-pane{
    -fx-open-tab-animation: grow;
    -fx-close-tab-animation: grow;
}

.tab-content-area {
    -fx-background-color: #f0f0f0;
    -fx-border-width: 2;
    -fx-border-color: gray;
    -fx-padding: 20 10 10 20;
}

.tab:selected {
    -fx-background-color: gray;
}

.titled-pane > .content > * {
    -fx-padding: 0px;
}

.button {
    -fx-background-radius: 50%;
}