.root {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(47, 145, 132);
    -fx-background: gray;
    -fx-background-color: #dcdcdc;
}

.label {
    -fx-text-fill: black;
}

/*
#songInfo {
    -fx-padding: 0 10 0 10;
    -fx-border-width: 2;
    -fx-border-color: gray;
    -fx-background-color: #f0f0f0;
}*/

.tab-pane{
    -fx-open-tab-animation: grow;
    -fx-close-tab-animation: grow;
}

.tab-content-area {
    -fx-background-color: #f0f0f0;
    -fx-border-width: 2;
    -fx-border-color: gray;
}

.tab:selected {
    -fx-background-color: gray;
}

.titled-pane > .content > * {
    -fx-padding: 0px;
}

.button {
    -fx-background-radius: 50%;
}

#playButton {
    -fx-graphic: url("resources/images/PlayButton.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
}

#playButton:hover {
    -fx-graphic: url("resources/images/PlayButtonHover.png");
}

#playButton:pressed {
    -fx-graphic: url("resources/images/PlayButtonPressed.png");
}

#pauseButton {
    -fx-graphic: url("resources/images/PauseButton.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
}

#pauseButton:hover {
    -fx-graphic: url("resources/images/PauseButtonHover.png");
}

#pauseButton:pressed {
    -fx-graphic: url("resources/images/PauseButtonPressed.png");
}

#stopButton {
    -fx-graphic: url("resources/images/StopButton.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
}

#stopButton:hover {
    -fx-graphic: url("resources/images/StopButtonHover.png");
}

#stopButton:pressed {
    -fx-graphic: url("resources/images/StopButtonPressed.png");
}

#addButton {
    -fx-graphic: url("resources/images/AddSongButton.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
}

#addButton:hover {
    -fx-graphic: url("resources/images/AddSongButtonHover.png");
}

#addButton:pressed {
    -fx-graphic: url("resources/images/AddSongButtonPressed.png");
}

.tab-button {
    -fx-width: 100%;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-background-radius: 0;
}
.tab-button:hover {
    -fx-background-color: lightgray;
}
.tab-button:click {
    -fx-background-color: gray;
}